EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:4000/api
EXPO_PUBLIC_AUTH_BASE_URL=
EXPO_PUBLIC_AUTH_PROXY_URL=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_UPLOADCARE_PUBLIC_KEY=
EXPO_PUBLIC_LOGS_ENDPOINT=
EXPO_PUBLIC_LOGS_API_KEY=
